<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel='stylesheet' href='/static/bootstrap-4.0.0-dist/css/bootstrap-grid.min.css'>
        <link rel='stylesheet' href='/static/bootstrap-4.0.0-dist/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <title>
            {{title}}
        </title>
    </head>

    <body>
        <div class="container-fluid" style="padding-top: 70px;">
            <div class="row">
                <div class="col-12 col-sm-7 align:center text-center">
                    <h1>{{title}}</h1>
                    <div class="con">
                        <div id = "form-sidebar" class = "col-12 col-lg-8 col-md-8 col-sm-12 col-xs-12 p-4 " style = "text-align:center"> 
                            <div class = "bg-light p-1">
                                <canvas id="lineChart" width="500" height="250"></canvas>
                                <script>
                                    const data={
                                            labels:{{ labels | safe }},
                                            datasets: [
                                            {
                                                    label: "Positive",
                                                    data: {{ PosPlot | safe }},
                                                    backgroundColor: "green",
                                                    borderColor: "rgb(75,192,192)",
                                                    // lineTension:0.1
                                                },
                                                {
                                                    label: "Neutral",
                                                    data: {{ NeuPlot | safe }},
                                                    backgroundColor: "gold",
                                                    borderColor: "rgb(75,192,192)",
                                                },
                                                {
                                                    label: "Negative",
                                                    data: {{ NegPlot | safe }},
                                                    backgroundColor: "red",
                                                    borderColor: "rgb(75,192,192)",
                                                }
                                            ]
                                        };
                                    
                                    const config = {
                                        type:"bar",
                                        data,
                                        options:{
                                            parsing:{
                                                xAxisKey:'nums',
                                                yAxisKey:'prod.val'
                                            },
                                            responsive:true
                                        }
                                    };

                                    var ctx =document.getElementById("lineChart");
                                    var lineChart = new Chart(
                                        ctx,
                                        config
                                    );
                                    function clickHandler(click){
                                        const points = lineChart.getElementsAtEventForMode(click, 'nearest',
                                            {intersect: true}, true)
                                        if(points.length){
                                            const firstPoint = points[0];
                                            //console.log(firstPoint)
                                            const value = lineChart.data.datasets[firstPoint.datasetIndex].
                                            data[firstPoint.index];
                                            document.getElementById("feed").innerHTML=(value.prod.link);
                                        }
                                    }
                                    ctx.onclick = clickHandler;
                                </script>
                            </div>
                          </div>
                        <!-- <img style="border-radius:4px" src="{{url_for('static', filename='/images/S1.jpg')}}" alt="Simply Easy Learning" width="496" height="300"> -->
                    </div>
                </div>
                <div class="col-12 col-sm-5">
                    <div style="padding-block: 50px;">
                        <p id="feed"></p>
                    </div>
                </div>
            </div>
        </div>


                <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.0.min.js"
                crossorigin="anonymous"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.0.min.js"
                crossorigin="anonymous"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.0.min.js"
                crossorigin="anonymous"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.4.0.min.js"
                crossorigin="anonymous"></script>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-2.4.0.min.js"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
            crossorigin="anonymous"></script>
        <script src="bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    </body>
</html>